body{
    margin: 0;
    font-family: sans-serif;
    background-color: #F3F3F7;
    color: #37405f;
}
/* when focus on any inputs */
input:focus, textarea:focus{
    outline: 0;
    box-shadow: 0px 0px 0px 2px rgba(0,123,255,.25);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
p{
    line-height: 1.8;
}

.rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
:root {
    --mainFont: sans-serif;
    --subFont: "Inter", sans-serif;
    --mainColor: #37405f;
}
/*start header*/
.header, ::after, ::before {
    box-sizing: unset;
}
.header {
    position: sticky;
    top: 0;
    box-shadow: 0px 1.6474391222000122px 8.23719596862793px rgba(0, 0, 0, 0.1);
    background-color: var(--mainColor);
    z-index: 100;
    height: 45px;
    padding: 20px 0;
    width: 100%;
}
.nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0;
}
.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.header .logo img {
    width: 65px;
}
.header ul{
    padding-left: 0;
}
.header ul li{
    line-height: 1.5;
}
.header .logo a {
    font-weight: bold;
    color: #fff;
}
.header nav a {
    color: #fff;
}
.header nav a:hover {
    color: #29aad4;
}
.bold {
    font-weight: 900;
}
.header .auth .login-Btn {
    border: 1px solid #fff;
    color: #fff;
    margin-right: 5px;
    border-radius: 9px;
    background-color: #ffffff00;
    padding: 7px 15px;
    font-size: 16px;
    line-height: 1.5;
}
.header .auth .regester {
    background-color: #fff;
    color: var(--mainColor);
    padding: 11px 15px;
    border-radius: 10px;
}
/*end header*/

/* footer */
footer, ::after, ::before{
    box-sizing: border-box;
}
.footer {
    background-color: var(--mainColor);
    color: #fff;
    padding: 50px 0;
    position: relative;
    height: 200px;
}
.footer a {
    color: #fff;
}
.footer .row {
    gap: 45px;
    display: flex;
    flex-direction: row;
}
.footer .start_footer,
.footer .end_footer {
    width: calc((100% - 45px) / 2);
    display: flex;
    justify-content: center;
}
.start_footer {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.footer .start_footer .logo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.footer .start_footer .logo img {
    width: 105px;
}
.footer .start_footer .logo a {
    font-size: 15px;
    font-weight: bold;
}
.footer .start_footer .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.footer .start_footer .icons img {
    border: 1px solid #F4F4F4;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    box-sizing: content-box;
    background-color: #7b7b8d;
}
.footer .start_footer .icons img:hover
{
    background-color: #babac5;
}
.footer .end_footer .formContact {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer .end_footer .formContact .textarea {
    display: flex;
    gap: 20px;
    align-items: center;
}
.footer .end_footer .formContact .textarea textarea {
    background-color: var(--mainColor);
    border: 2px solid #7b7b8d;
    border-radius: 2px;
    height: 40px;
}
.footer .end_footer .formContact .button {
    padding: 5px;
    width: 90px;
    height: 40px;
    border: 2px solid var(--mainColor);
    border-radius: 5px;
    box-shadow: #9cb6cc;
    font-size: small;
}
.footer .tail_footer {
    background-color: #2d324b;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.footer .tail_footer p {
    margin: 5px;
}
.footer .tail_footer svg {
    width: 15px;
}

/* background img */
section .bg-img{
    background-image: url("../imgs/bg-reading-bright.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
}
section .bg-img .text-bg{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
}
.bg-img .text-bg h1{
    font-size: 40px;
}
.bg-img .text-bg span{
    color: #3A9FC0;display: block;
}

/* title pages */
.text-page a{
    color: #37405f;
}
.text-page span{
    color: #2494b9;
    font-size: 18px;
}

/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    margin-top: 22px;
}
.tooltip .tooltiptext{
    visibility: hidden;
    width: 90px;
    background-color: #F0F0F0;
    color: #01394c;
    text-align: center;
    font-weight: 600;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    top: -5px;
    left: 116%;
    border: 2px solid #D3D3D3;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #D3D3D3 transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* containers */
.containers{
    width: calc(100% - 120px);
    margin: auto;
}

 /* search book */
 .containers .search-books{
    text-align: center;
    padding: 40px 10px;
    margin: 10px;
}
.containers .search-books input{
    width: 792px;
    height: 37px;
    font-size: 16px;
    border-radius: 18px;
    border: 1px solid #ced4da;
    padding: 14px;
}
.search-books button{
    width: 80px;
    height: 37px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 8px;
    border-radius: 8px;
    border: none;
    background-color: #3a9fc054;
    color: #01394c;
}
#filtercontainers{
    position: relative;
}
.search-books .list-filter{
    position: absolute;
    display: none;
    list-style: none;
    padding: 0;
    background-color: white;
    min-width: 200px;
    overflow: auto;
    border: 1px solid #ddd;
    text-align: left;
    border-radius: 5px;
    z-index: 1;
    left: 77%;
    margin: 3px 0px;
}
.search-books .list-filter li{
    padding: 14px 10px;
    font-weight: 600;
    cursor: pointer;
}
.search-books .list-filter li:hover{
    background-color: #efebf5;
}

/* Card Books */
section .book-list{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.book-list .bg-book{
    background-color: #d1d1d645;
    border-radius: 8px;
    border: 1px solid #ced4da;
    padding: 12px;
    box-shadow: 3px 0px 10px 1px #d4d3d6;
}
.book-list .book-card{
    flex-basis: 18%;
    display: flex;
    flex-direction: column;
    column-gap: 5px;
}
.book-list .book-card .img-book{
    width: 100%;
    height: 296px;
    object-fit: fill;
}
.bg-book div{
    padding-top: 10px;
}

.book-list .bg-book .genre{
    font-size: 14px;
    color: #2494b9;
}